body{
    background: rgb(173, 115, 147);
    font: normal 15pt arial;
}

header{
    color: cornsilk;
    text-align: center;

}

section{
    background: rgb(179, 156, 126);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 3px 3px 10px black;


}

footer{
    color: cornsilk;
    text-align: center;
    font-style: italic;

}